<!--  <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>-->
<div class="map-container">
  <ui-gmap-google-map center='map.center'
    zoom='map.zoom'
    control='map.control'
    bounds='map.bounds'
    options='map.options'
    events='map.events'
    pan="false">
    <ui-gmap-markers models="markers.models"
      							coords="'self'"
                    control="markers.control"
                    icon="'icon'"
                    click="openContact">
    </ui-gmap-marker>
    <ui-gmap-window show="contact.show" coords="contact.position" closeClick="closeClick()" control="contact.control">
      <div class="popup" style="width: 150px; height: 160px;">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-md-6 control-label">Alias</label>
            <div class="col-md-6">
              <p class="form-control-static">{{contact.model.alias}}</p>
            </div>
          </div>
          <div ng-controller='chatCtrl'>
            <button ng-click="openChat()" class="btn btn-info">Contact</button>
          </div>
        </form>
      </div>
    </ui-gmap-window>
  </ui-gmap-google-map>
</div>

<!-- Casual Chart -->
<script type="text/ng-template" id="casualChat.html">
  <div id="browser-window" >
    <div id="viewport">
      <div id="viewport-content">
        <div class="bubble-container" ng-repeat="m in messages">
          <div class="avatar avatar-{{m.side}}"><img ng-src="{{m.avatar}}" /></div>
          <div class="bubble bubble-{{m.side}}">{{m.text}}</div>
        </div>
      </div>
    </div>
    <form class="row row-chat">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="messageText" placeholder="Type your message" />
        <span class="input-group-btn">
          <button ng-click="sendMsg()" class="btn btn-primary">Send</button>
        </span>
      </div>
    </form>
  </div>
<!--  <div class="modal-header">
      <h3 class="modal-title">{{contact.alias}}</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="message in messages">{{message}}</li>
    </ul>
    <input ng-model="m" autocomplete="off" /><button ng-click="sendMsg()">Send</button>
  </div>
  -->
</script>
