<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">SETTINGS </h1>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              INFORMATION
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Alias</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Choose alias" />
              </div>
              <div class="form-group">
                <label>Gender</label>
                <select class="form-control">
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="form-group">
                <label>Range age</label>
                <select class="form-control">
                  <option>18 - 25</option>
                  <option>26 - 40</option>
                  <option> > 40</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">Profile picture</label>
                <input type="file" id="exampleInputFile" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              PREFERENCES
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Gender</label>
                <select class="form-control">
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="form-group">
                <label>Range age</label>
                <select class="form-control">
                  <option>18 - 25</option>
                  <option>26 - 40</option>
                  <option> > 40</option>
                </select>
              </div>
              <div class="form-group">
                <label>Status duration</label>
                <select class="form-control">
                  <option>1 hr</option>
                  <option>4 hrs</option>
                  <option>1 day</option>
                </select>
              </div>
              <div class="form-group">
                <label>Select Example</label>
                <select class="form-control">
                  <option>One Vale</option>
                  <option>Two Vale</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              NOTIFICATIONS
            </div>
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox" /> Active
                </label>
              </div>
              <div class="form-group">
                <label>Distance</label>
                <select class="form-control">
                  <option> < 10 km</option>
                  <option>10 km - 30 km</option>
                  <option> > 30 km</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info">Save changes</button>
    </form>
  </div>
</div>
