<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-head-line">SETTINGS </h1>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              INFORMATION
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Alias</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Choose alias" ng-model="model.alias" />
              </div>
              <div class="form-group">
                <label>Gender</label>
                <select class="form-control" ng-model="model.gender">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                  <option value="G">Male Homosexual</option>
                  <option value="L">Female Homosexual</option>
                </select>
              </div>
              <div class="form-group">
                <label>Age range</label>
                <select class="form-control" ng-model="model.ageRange"
                  ng-options="ar.id as ar.name for ar in ageRanges">
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">Profile picture</label>
                <input type="file" id="exampleInputFile" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              PREFERENCES
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Gender</label>
                <select class="form-control" ng-model="model.genderPref">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                  <option value="G">Male Homosexual</option>
                  <option value="L">Female Homosexual</option>
                </select>
              </div>
              <div class="form-group">
                <label>Age range</label>
                <select class="form-control" ng-model="model.ageRangePref"
                  ng-options="ar.id as ar.name for ar in ageRanges">
                </select>
              </div>
              <div class="form-group">
                <label>Status duration</label>
                <select class="form-control" ng-model="model.statusDuration"
                  ng-options="duration.id as duration.name for duration in durations">
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              NOTIFICATIONS
            </div>
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="model.notification"/> Active
                </label>
              </div>
              <div class="form-group">
                <label>Distance</label>
                <select class="form-control" ng-model="model.distance"
                  ng-options="d.id as d.name for d in distances">
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info" ng-click="save()">Save changes</button>
    </form>
  </div>
</div>
